@media screen and (min-width: 900px){
  .alphaPage {
    background: black;
    color: white;
  }
  .alphaRevealer, .alphaRevealer2 {
    position: relative;
    height: 100vh;
    font-size: 8vw; /*50px*/
    text-align: center;
    line-height: 100vh;
  }
  .alphaContent, .alphaContent2 {
    position: relative;
    height: 100vh;
    font-size: 8vw; /*50px*/
    text-align: center;
    line-height: 100vh;
  }
  .alphaContent {
    background-color: navy;
  }
  .alphaContent2 {
    background-color: chocolate;
  }
  .alphaMask, .alphaMask2 {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .alphaMask img, .alphaMask2 img {
    height: 100vh;
  }
  .alphaOverlay, .alphaOverlay2 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@media screen and (max-width: 900px){
  .alphaPage {
    background: black;
    color: white;
  }
  .alphaRevealer, .alphaRevealer2 {
    position: relative;
    font-size: 8vw; /*50px*/
    text-align: center;
    height: 100vh; /*100vh*/
    line-height: 100vh; /*100vh*/
  }
  .alphaMask, .alphaMask2 {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%; /*100%*/
    width: 100%; /*100%*/
  }
  .alphaMask img, .alphaMask2 img {
    height: 100vh; /*100vh*/
  }
  .alphaOverlay, .alphaOverlay2 {
    width: 100%; /*100%*/
    height: 100%; /*100%*/
    position: absolute;
  }
  .alphaContent, .alphaContent2 {
    position: relative;
    font-size: 8vw; /*50px*/
    text-align: center;
    height: 100vh; /*100vh*/
    line-height: 100vh; /*100vh*/
  }
  .alphaContent {
    background-color: navy;
  }
  .alphaContent2 {
    background-color: chocolate;
  }
}