.deltaLine {
  padding-top: 10px;
  background-color: rgb(230, 93, 93);
  height: 700px;
}
.deltaRadio {
  display: block;
  position: relative;
  padding-left: 80px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.deltaRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.deltaLabel {
  position: absolute;
  top: 5px;
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.deltaRadio:hover input ~ .deltaLabel {
  background-color: #ccc;
}
.deltaRadio input:checked ~ .deltaLabel {
  background-color: #2196F3;
}
.deltaDemo p {
  margin: 0;
  text-align: center;
}
.line1 {
  background-color: rgb(230, 93, 93);
}
.deltaBar {
  padding-top: 10px;
  background-color: rgb(118, 93, 230);
  height: 700px;
}
.line2 {
  background-color: rgb(118, 93, 230);  
}
.deltaDonut {
  padding-top: 10px;
  background-color: rgb(6, 102, 35);
  height: 700px;
}
.line3 {
  background-color: rgb(6, 102, 35);  
}
